.outer-container {
  max-width: 1100px;
  height: 700px;
  display: flex;
}

@media (max-width: 768px) {
  .outer-container {
    flex-direction: column;
    height: auto;
  }
}

.inner-container1 {
  position: inherit;
  width: 50%;
  /* height: 100%; */
  overflow: hidden;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  margin-right: 20px;
}

@media (max-width: 768px) {
  .inner-container1 {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }
}

.inner-container2 {
  position: inherit;
  width: 50%;
  height: 100%;
  padding: 10px;
  overflow: hidden;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  margin-left: 20px;
}

@media (max-width: 768px) {
  .inner-container2 {
    width: 100%;
    margin-left: 0;
  }
}
