.password_generator {
    padding: 50px;
}
form {
    width: 400px;
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
  }
  
  /* label {
    display: inline-block;
    width: 120px;
    text-align: left;
    margin-bottom: 10px;
  } */
  
  input[type="checkbox"] {
    margin-left: 10px;
  }
  
  input[type="submit"] {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #0056b3;
  }
  
  .output-container {
    width: 400px;
    margin: 20px auto;
    text-align: center;
  }
  
  .output {
    display: inline-block;
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
  }
  
  /* for slider */

  .slidecontainer {
    width: 100%;
  }
  
  .slider {
    /* -webkit-appearance: none; */
    width: 100%;
    height: 5px;
    background: #ddd;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #3385ff;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #3385ff;
    cursor: pointer;
  }
  
  #slider-value {
    display: inline-block;
    width: 30px;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    margin-left: 10px;
  }

  /* for responsiveness */

/* styles for screens smaller than 768px */
@media (max-width: 767px) {
  .password_generator {
      padding: 30px;
  }
  
  form {
      width: 100%;
      max-width: 600px;
  }
  
  /* label {
      display: block;
      width: 100%;
      text-align: left;
      margin-bottom: 10px;
  } */
  
  input[type="checkbox"] {
      margin-left: 0;
      margin-right: 10px;
  }
  
  input[type="submit"] {
      margin: 20px 0;
  }
  
  #slider-value {
      display: none;
  }
}
