/* Style for navigator
navigator {
    background-color: #3385ff;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    color: #fff;
    font-size: 20px;
}

navigator img {
    height: 30px;
}

navigator ul {
    list-style: none;
    display: flex;
    align-items: center;
}

navigator li {
    margin-right: 20px;
}

navigator a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

navigator ul li a{
    color: white;
    font-size: 17px;
    border-radius: 3px;
    text-transform: uppercase;
  }

navigator a.active,a:hover{
    background: #1b9bff;
    transition: .5s;
}
 */
/* Style for main */
main {
    padding: 50px;
}

.body {
    position: inherit;
    top: 0;
    left: 20%; /* adjust this value to move the body to the desired position */
    width: 80%; /* subtract the menu width from the body width */
    height: 93%;
    background-color: #f2f2f2;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: scroll;
  }

/* Style for footer */
footer {
    background-color: #3385ff;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

/* Fullscreen and no gaps */
html,
body {
height: 100%;
margin: 0;
padding: 0;
}

.error {
    color: red;
    margin-bottom: 10px;
}
